@charset "utf-8";
.post-title p, .item p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.item {
    outline: solid 1px blue;
    background-color: #fff;
    padding: 5px 10px;
    border: solid 1px #000;
    margin: 10px 10px;
    min-width: 50px;
}
.post-form textarea {
    width: 100%;
    height: 100px;
}
.post-title {
    background-color: #fff;
    margin: 10px 10px;
    padding: 10px 10px;
}
.post-list {
    display: flex;
    flex-wrap: wrap;
}
.thread-list {
    display: flex;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}
body {
    background-color: #eee;
}
