{% extends "base.html" %}

{% block content %}

    <div class="wrapper">
	<h3>cat-list</h3>
	<a href="/post/list">post-list</a>
    <form action="/cat/ins_exe" method="post">
	<input type="text" name="title">
	<input type="submit" value="send">
    </form>
    <hr>
    <div class="post-list">
    {% for row in rows %}
    <div class="item">
        <a href="/cat/{{ row.id }}">{{ row.title }}</a>
        <a href="/cat/up/{{ row.id }}">up</a>
    </div><!-- item -->
    {% endfor %}
    </div><!-- post-list -->
{% endblock %}
