{% extends "base.html" %}

{% block content %}
    <div class="wrapper">
	<h3>post-list</h3>
    <form action="/post/ins_exe" method="post">
	<input type="text" name="title">
	<input type="submit" value="send">
    </form>
    <hr>
    <div class="post-list">
    {% for row in rows %}
    <div class="item">
        <a href="/post/{{ row.id }}">{{ row.title }}</a>
        <a href="/post/up/{{ row.id }}">up</a>
    </div><!-- item -->
    {% endfor %}
    </div><!-- post-list -->
</html>
{% endblock %}
